<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Readbox{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}jquery-ui-1.10.3/themes/base/minified/jquery-ui.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
        <script>
        if(typeof Raven !== 'undefined'){
            Raven.config('http://79d2f3bfe8224995bb8073d38101aaab@sentry.wol.ph/4', {
                whitelistUrls: [/wol\.ph/]
            }).install();
            {% if user.is_authenticated() %}
            Raven.setUser({
                email: '{{ user.email }}',
                id: '{{ user.pk }}'
            });
            {% endif %}
        }
        </script>
        <script src="{{ STATIC_URL }}jquery-ui-1.10.3/jquery-1.9.1.js"></script>
        <script src="{{ STATIC_URL }}jquery-ui-1.10.3/ui/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}jquery.cookie.js"></script>
        <script src="{{ STATIC_URL }}dropzone.js"></script>
        {# <script src="{{ STATIC_URL }}jquery.kool-swap/js/jquery.kool-swap.js"></script> #}


        {% block head %}
        {% endblock head %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}assets/js/html5shiv.js"></script>
        <script src="{{ STATIC_URL }}assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="padding-bottom: 70px;">
        <nav class="navbar navbar-default" role="navigation">
            {% block navbar %}
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url('index') }}">Readbox</a>
            </div>
            {% if user.is_authenticated() %}
            <a href="{{ url('logout') }}" class="btn btn-default navbar-btn">Logout {{ user }}</a>
            {% else %}
            <a href="{{ url('login') }}" class="btn btn-default navbar-btn">Login</a>
            {% endif %}

            {% endblock navbar %}
        </nav>

        <noscript>
            <div class="alert alert-danger">Seriously? No Javascript? Half of
                the site probably won't work so know that you have been warned
            ;)</div>
        </noscript>

        <a href="https://github.com/readbox/readbox"><img style="
            position: absolute; top: 0; right: 0; border: 0; z-index: 1000;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
            alt="Fork me on GitHub"></a>

        {% block body %}
        {% endblock body %}

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        {% block footer %}
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $('a').tooltip();
        </script>
        {% endblock footer %}

        </body>
</html>
