{% extends "base.html" %}

{% block body %}
<div class="container" style="margin-top: 100px; max-width: 400px;">
{#
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">Login using your NetID</div>
        <div class="panel-body">
            <a href="{{ url('social:begin', backend='tudelft') }}" class="btn btn-success btn-block btn-lg">Login with your NetID</a>
        </div>
    </div>
#}

    <div class="panel panel-default {% if form.errors %}panel-danger{% elif form.is_valid() and request.POST %}panel-success{% else %}panel-primary{% endif %}">
        <div class="panel-heading">Manual login/register</div>
        <div class="panel-body">
            <form method="post" class="form" action="{{ request.path }}">
                <div class="form-group {% if form.errors.name %}has-error{% endif %}">
                    {#
                    <p class="help-block">You can choose <strong>any</strong> password during signup!<br>
                    The email check is only to make sure you are a student.<br>
                    This is not your NetID login, it's a completely separate system!</p>
                    #}

                    {{ form.name.label_tag(attrs={'class': 'sr-only'}) }}
                    {% if form.name.field.domain %}
                        <div class="input-group" style="margin-bottom: 5px;">
                            {{ form.name.as_widget() }}
                            <span class="input-group-addon">@{{ form.name.field.domain }}</span>
                        </div>
                    {% else %}
                        {{ form.name.as_widget() }}
                    {% endif %}

                    {% if form.errors.name %}
                    <span class="help-block">
                        {{ form.errors.name.as_text() }}
                    </span>
                    {% endif %}
                </div>

                <div class="form-group {% if form.errors.password %}has-error{% endif %}">
                    {{ form.password.label_tag(attrs={'class': 'sr-only'}) }}
                    {{ form.password.as_widget() }}

                    <div id="password-progress" style="padding-top: 15px;"></div>
                    <div id="password-verdict" class="sr"></div>
                    <div id="password-errors" class="sr"></div>

                    {#
                    <p class="text-danger">Your Blackboard username is
                    generally <em>not</em> the same as your mail address!</p>
                    #}

                    {% if form.errors.password %}
                    <span class="help-block">
                        {{ form.errors.password.as_text() }}
                    </span>
                    {% endif %}
                </div>

                {% if form.non_field_errors() %}
                <div class="alert alert-danger">
                {{ form.non_field_errors().as_text() }}
                </div>
                {% endif %}

                {% if status and message %}
                <div class="alert alert-{{ status }}">
                    {{ message }}
                </div>
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login/Register</button>
                {% if form.errors %}
                <button class="btn btn-lg btn-danger btn-block" type="submit">Reset Password</button>
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_URL }}jquery.pwstrength.js"></script>
{% endblock head %}

{% block footer %}
{{ super() }}
<script type="text/javascript">
    $(':password').pwstrength({
        showVerdicts: false,
        viewports: {
            progress: '#password-progress',
            verdict: '#password-verdict',
            errors: '#password-errors'
        }
    });
</script>
{% endblock footer %}

