{% extends "base.html" %}

{% block body %}
{{ super() }}
<div class="container" style="margin-top: 100px; max-width: 400px;">
    <div class="panel panel-default panel-{{ status }}">
        <div class="panel-heading">Reset Password</div>
        <div class="panel-body">
            {% if form %}
            <form method="post" class="form" action="{{ request.path }}">
                <div class="form-group {% if form.errors.password %}has-error{% endif %}">
                    {{ form.password.label_tag(attrs={'class': 'sr-only'}) }}
                    {{ form.password.as_widget() }}

                    <div id="password-progress" style="padding-top: 15px;"></div>
                    <div id="password-verdict" class="sr"></div>
                    <div id="password-errors" class="sr"></div>

                    {% if form.errors.password %}
                    <span class="help-block">
                        {{ form.errors.password.as_text() }}
                    </span>
                    {% endif %}
                </div>

                {% if form.non_field_errors() %}
                <div class="alert alert-danger">
                {{ form.non_field_errors().as_text() }}
                </div>
                {% endif %}

                {% if status and message %}
                <div class="alert alert-{{ status }}">
                    {{ message }}
                </div>
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
            {% else %}
            {{ message }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_URL }}jquery.pwstrength.js"></script>
{% endblock head %}

{% block footer %}
{{ super() }}
<script type="text/javascript">
    $(':password').pwstrength({
        showVerdicts: false,
        viewports: {
            progress: '#password-progress',
            verdict: '#password-verdict',
            errors: '#password-errors'
        }
    });
</script>
{% endblock footer %}
